{{> trainermenu id="dashboard"}}

<div class="ui raised segment">
    {{> useranalytics}}

    {{#each assessments}}
    <table class="ui table celled">
        <thead>
        <tr>
            <th>Weight</th>
            <th>Chest</th>
            <th>Thigh</th>
            <th>Upper Arm</th>
            <th>Waist</th>
            <th>Hips</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{weight}}</td>
            <td>{{chest}}</td>
            <td>{{thigh}}</td>
            <td>{{upperArm}}</td>
            <td>{{waist}}</td>
            <td>{{hips}}</td>
            <td>{{comment}}</td>
        </tr>
        </tbody>
    </table>

    <form class="ui form" action="/updateComment/{{../member.id}}/{{assessmentId}}" method="POST">
        <div class="ui field">
            <label>Comments</label>
            <input placeholder="Trainers Comment.." type="text" value="{{comment}}" name="comment">
        </div>

        <button class="ui blue submit button">Update</button>
    </form>
    {{/each}}

</div>

{{> goallist}}